<div class="post">

  <header class="post-header">
    <h2 class="post-title">
      {% if include.post.url == page.url %}
        {{ include.post.title }}
      {% else %}
        <a class="post-link" href="{{ include.post.url | prepend: site.baseurl }}">{{ include.post.title }}</a>
      {% endif %}
    </h2>
    <p class="post-meta">{{ include.post.date | date: "%B %-d, %Y" }}{% if include.post.author %} • {{ include.post.author }}{% endif %}{% if include.post.meta %} • {{ include.post.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ include.post.content }}
  </article>

</div>
