---
layout: bare
---
<head>
    <title>Timelog</title>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"a></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
    <script src="backbone.localStorage-min.js"></script>
    <style>
        body {
            font-family: arial, helvetica, sans-serif;
            font-size: 16px;
        }
        #what {
            width: 100%;
            height: 2em;
            font-size: 1.5em;
            margin-bottom: 1em;
        }
        #start, #stop {
            display: inline-block;
            width: 7em;
            padding: 1em 0;
            margin-right: 1em;
            background-color: #ccf;
            text-align: center;
            vertical-align: center;
            text-decoration: none;
        }
        #dates {
            margin-top: 1em;
        }
        .stop {
            color: #800;
        }
        .duration {
            color: #aaa
        }
        .selected {
            background-color: #eee;
        }
    </style>
</head>
<body>
    <div id="ts">
    <form autocomplete="off">
        <input name="what" id="what" type="text">
        <a href="javascript:void(0)" id="start">start</a>
        <a href="javascript:void(0)" id="stop">stop</a>

    </form>
    <div id="dates">
        <a class="js-date-prev" href="#">&lt;</a><span> <a href="#today">Today</a> </span><a class="js-date-next" href="#">&gt;</a>
    </div>
    <ul id="history">
    </ul>
        <a href="#" id="clear">Clear record</a>
    </div>
    <script type="text/template" id="note-tmpl">
<%= time %> - <%= note %> <span class="duration"><%= duration %></span>
    </script>
<script>
$(function () {
    var sameday = function(as) {
        return function(value) {
            var ts = value.get('timestamp')
            return as.getDate() === ts.getDate() && as.getMonth() === ts.getMonth() && as.getYear() === ts.getYear()
    }}
    var date_format = function (date) {
        // yyyy-mm-dd
        return date.getFullYear() + '-'
            + ('0' + (date.getMonth()+1)).slice(-2) + '-'
            + ('0' + date.getDate()).slice(-2)
    }
var Note = Backbone.Model.extend({
    localStorage: new Backbone.LocalStorage("bb-history"),
    defaults: {
        timestamp: null,
        startstop: 'start',
        note: ''
    },
    initialize: function() {
        if (this.get('timestamp') === null) {
            var now = new Date(Date.now())
            this.set('timestamp', now)
        }
    },
    parse: function(response, options) {
        response.timestamp = new Date(response.timestamp)
        return response
    },
    template_data: function() {
        var data = this.toJSON()
        var dt = [data.timestamp.getHours(), data.timestamp.getMinutes()]
        dt[1] = ('0' + dt[1]).slice(-2)
        if (dt[0] > 12) {
            data.time = dt[0] - 12 + ":" + dt[1] + " PM"
        } else {
            data.time = dt[0] + ":" + dt[1] + " AM"
        }
        data.date = data.timestamp.getMonth() + 1 + "/" + data.timestamp.getDate() + "/" + data.timestamp.getFullYear()
        duration = this._hour_format(this.duration())
        data.duration = ""
        if (duration) {
            if (duration[1] < 10) {
                duration[1] = '0' + duration[1]
            }
            data.duration = duration[0] + ':' + duration[1]
        }
        return data
    },
    next: function() {
        return this.collection.at(this.collection.indexOf(this)+1)
    },
    duration: function () {
        var next = this.next()
        if (!next) {
            return
        }
        var msec = this.next().get('timestamp') - this.get('timestamp')
        var minutes = Math.floor(msec / 1000 / 60);
        return minutes
    },
    _hour_format: function (minutes) {
        if (minutes === undefined) {
            return
        }
        var hh = Math.floor(minutes / 60);
        mm = minutes % 60;
        return [hh, mm]
    }
})

var NoteCollection = Backbone.Collection.extend({
    model: Note,
    comparator: 'timestamp',
    localStorage: new Backbone.LocalStorage("bb-history"),
    initialize: function() {
        this.listenTo(this, 'sort', this.processAdd)
    },
    processAdd: function(collection) {
        // reset collection in case resorting needs to happen
        this.trigger('reset', collection)
    },
    getDates: function(including) {
        var collector = {}
        var result = []
        this.each(function (note) {
            var val = date_format(note.get("timestamp"))
            if (!_.has(collector, val)) {
                collector[val] = true
                result.push(val)
            }
        })
        if (!_.has(collector, including)) {
            result.push(including)
        }
        return result.sort()
    },
    previousDate: function(date) {
        return this.nextPrev(date)[0]
    },
    nextDate: function(date) {
        return this.nextPrev(date)[1]
    },
    nextPrev: function(date) {
        var all_dates = this.getDates(date)
        var i = all_dates.indexOf(date)
        // TODO What if it can't find it?
        // TODO what if it's the earliest already?
        var p, n
        if (i === 0) {
            p = ""
        } else {
            p = all_dates[i - 1]
        }
        if (i === all_dates.length - 1) {
            n = ""
        } else {
            n = all_dates[i + 1]
        }
        return [p, n]
    }

})

    var NoteView = Backbone.View.extend({
        tagName: 'li',
        template: _.template($('#note-tmpl').html()),
        render: function() {
            var template_data = this.model.template_data()
            this.$el.html(this.template(template_data))
            this.$el.attr('title', template_data.date)
            this.$el.addClass(template_data.startstop)
            return this
        },
        events: {
            'click': 'toggle'
        },
        toggle: function () {
            this.model.selected = this.model.selected ? false:true
            this.$el.toggleClass('selected')
        }
    })

    var AppView = Backbone.View.extend({
        el: '#ts',

        events: {
            'click #start': 'createStart',
            'click #stop': 'createStop',
            'click #clear': 'clear',
            'click .js-date-prev': 'prev',
            'click .js-date-next': 'next',
            'submit': 'createStart'
        },
        createStart: function(ev) {
            ev.preventDefault()
            this.createNote('start')
            $('#what').focus()
        },
        createStop: function(ev) {
            ev.preventDefault()
            this.createNote('stop')
            $('#what').focus()
        },
        createNote: function(action) {
            var what = $('#what')
            var what_val = what.val()
            var now = new Date()
            // Only store date to the minute
            now.setSeconds(0)
            now.setMilliseconds(0)
            // 1-2 digits followed by optional :1-2 digits
            // followed by optional space then optional am/pm
            // ending with optional space. Case insensitive.
            // 8, 8am, 8 pm, 7:23, 7:23am
            var time_regex = /^(\d{1,2})(?::(\d{2}))? ?(am|pm)? ?/i
            var results = time_regex.exec(what_val)
            if (results) {
                manual_hours = parseInt(results[1])
                manual_minutes = parseInt(results[2]) || 0
                // If hours are greater than 24, not a valid time and ignore
                if (manual_hours < 24) {
                    if (!results[3]) {
                        var hours = now.getHours()
                        if (hours >= 12 && manual_hours < 6) {
                            manual_hours += 12
                        }
                    } else if (results[3].toUpperCase() === 'PM' && manual_hours != 12) {
                            manual_hours += 12
                    }
                    what_val = what_val.slice(results[0].length)
                    now.setHours(manual_hours)
                    now.setMinutes(manual_minutes)
                }
            }
            this.collection.create({startstop: action, note: what_val, timestamp: now})
            what.val('')
        },
        clear: function() {
            while ( (model = this.collection.shift()) ) { model.destroy() }
            this.collection.trigger('reset')
        },
        prev: function(ev) {
            this.nextPrev(ev, true)
        },
        next: function(ev) {
            this.nextPrev(ev)
        },
        nextPrev: function(ev, prev) {
            prev = prev || false
            ev.preventDefault()
            // If showing all history, we'll figure that out later
            // If on #today, use new Date() for date
            // If on #history, grab the date from the url
            if (this.page.id === 'today') {
                var current_date = this.date_format(new Date())
            } else if (this.page.id === 'history') {
                var current_date = this.page.date
            } else {
                // Default behavior is same as today
                var current_date = this.date_format(new Date())
            }
            if (prev) {
                var to = this.collection.previousDate(current_date)
            } else {
                var to = this.collection.nextDate(current_date)
            }
            // TODO check for errors
            if (to) {
                router.navigate("history/" + to, {trigger: true})
            }
        },
        initialize: function () {
            this.$list = this.$('#history')
            this.listenTo(this.collection, 'add', this.addNote)
            this.listenTo(this.collection, 'reset', this.resetNotes)
            this.page = {id: '', date: ''}
            this.collection_filter = function (n) { return true }
            this.collection.fetch({reset: true})
        },
        addNote: function(note) {
            var view = new NoteView({model: note})
            this.$list.append(view.render().el)
        },
        resetNotes: function() {
            this.$list.html('')
            _.each(this.collection.filter(this.collection_filter), _.bind(function (note) {
                this.addNote(note)

            }, this))
            // this.collection.filter(this.addNote, this)
        },
        history: function (date) {
            this.page = {id: 'history', date: date}
            this.collection_filter = _.bind(function (n) { return this.date_format(n.get('timestamp')) === date}, this)
            this.resetNotes()
        },
        today: function () {
            this.page = {id: 'today', date: ''}
            this.collection_filter = _.bind(function (n) { return this.date_format(n.get('timestamp')) === this.date_format(new Date())}, this)
            this.resetNotes()
        },
        worked: function () {
            var total = 0
            _.each(this.collection.filter(this.collection_filter), function (n) {
                if (n.get('startstop') == 'start') {
                    total += n.duration()
                }
            })
            return total
            // Sums: worked today, worked yesterday, worked on a date
            // work that's selected
        },
        date_format: function (date) {
            // yyyy-mm-dd
            return date.getFullYear() + '-'
                + ('0' + (date.getMonth()+1)).slice(-2) + '-'
                + ('0' + date.getDate()).slice(-2)
        },
        render: function () {
        }
    })

    var appRouter = Backbone.Router.extend({
        routes: {
            "history/:date": "history",
            "today": "today"
        },
        history: function (date) {
            app.history(date)
        },
        today: function () {
            app.today()
        }

    })

    $('#what').focus()
    var app = new AppView({collection: new NoteCollection(), el: $('#ts')})
    window.app = app
    var router = new appRouter()
    Backbone.history.start()

    })
</script>
{% include tracking.html %}
</body>
