<!DOCTYPE html>
<html>
<head><title>{{ title }}</title>
<link rel="stylesheet" type="text/css" href="layout.css" />
<meta name="verify-v1" content="kg4E+n+MJvo9gOP3rQ2sefD+yoWWv3Vk3xQ2CoRuhBs=" />
<meta charset='utf-8'/>
</head>
<body>
<h1>Jeremy Osterhouse's home page</h1>
<div id="content">
{{ content }}
</div>
<div id="footer">
	&copy; 2006-2015 Jeremy Osterhouse<br>
    Last updated: {{ page.last_updated }}
</div>
<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
	_uacct = "UA-367442-1";
	urchinTracker();
</script>
</body>
</html>
